Source: kinguard-utils
Section: devel
Priority: optional
Maintainer: PA Nilsson <pa@openproducts.se>
Build-Depends: debhelper (>= 8.0.0), cmake,
	pkg-config,
	libutils-dev (>= 1.5.1),
	libkgpnotify-dev,
	libjsoncpp-dev,
	libopi-dev (>= 1.6.31),
	libssl-dev,
	libutils-dev,
	libcppunit-dev,
	libudev-dev,
	libcrypto++-dev,
	libcryptsetup-dev,
	libparted0-dev,
	libcurl4-gnutls-dev
Standards-Version: 3.9.4

Package: kinguard-utils
Architecture: any
Depends: ${misc:Depends}, libkgpnotify1, libopi1 (>= 1.6.31)
Conflicts:
Description: Misc system utilities

